body{
  margin:0;
  color:#000;
  background:#fff;
  font-family:sans-serif;
}

main, #member{
  margin:1.2rem;
}

h1,h2{
  margin:0;
  line-height: 1;
}

h1{text-align: center;}

#button {                  /*ダウンロードボタン */
  margin:0.8rem;
  margin-bottom:15px;
  color:#ff8c00;
  border: solid 2px #fff;
  border-radius: 10px;
  padding:0.6rem 1rem;
  font-size: smaller;
  font-weight:bold;
  background: #fff;
  text-decoration: none;
}

#button:hover{
  border:solid 2px #f5f5f5;
  background:#f5f5f5;
}

/* ----------------------------------------------------------- */
header{
  text-align: center;
  background: #ff8c00;
  color:#fff;
}

header h1{
  padding-top:72px;
  margin-bottom:0.8rem;
}



header img{vertical-align: bottom;}

/* ---------------------------------------------------- */
main{
  /* text-align:center; */
  margin:35px auto;
  width:512px;
}

main img{
  margin-top:25px;
  margin-bottom:15px;
}

/* ---------------------------------------------------- */

footer{
  background:#fffaf0;
  width:100%;
  margin:auto;
}

#members{
  width :512px;
  margin:35px auto;
  text-align: center;
}

#members h1{
  margin:25px;
  padding-top:25px;
}

.member p { 
  width:80%;
  margin:15px auto;
}

#dl{
  text-align: center;
  background:#ff8c00;
  color:#fff;
  height:170px;
}

#dl h2{
  padding:25px;
}

#bo{
  margin-bottom:15px;
}

#dl p{
  margin:15px;
}
